@import "lib/bourbon/bourbon";
@import "lib/neat/neat";


/* ========================================================================== */

$max-width: rem(1600);
$tablet:	rem(800);
$mobile:	rem(500);

$bgColor: #fff;
$textColor: #000;
$selectColor: #b3d4fc;

//$fontStack1:	"fira-sans", "FiraSansUL", "helveticaLight", sans-serif;
//$fontStack2:	"fira-sans", "FiraSansB", "helveticaRegular", sans-serif;
//$defaultWeight: 100;


@import "partials/bpDefaults";
/* ========================================================================== */

body, html {
	font-size: 100%;
}

body {
	color: $textColor;
  background: $bgColor;
  font-size: 3em;
  //font-family: 'SourceCodePro-Light', sans-serif;

	// @include media (max-width $max-width * 1.2) {
	// 	font-size: 1.5rem;
	// }
	// @include media (max-width $tablet) {
	// 	font-size: 1.2rem;
	// }
}

#messageArea {
  width: 100%;
  height: 75vh;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: scroll;
}

#inputArea {
  width: 100%;
  height: 25vh;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #ccc;
  overflow: hidden;
}

// ==================

/* ========================================================================== */
@import "partials/helpers";
@import "partials/print";
